<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폴리텍 학식 알리미</title>
</head>
<body>
<h1>오늘의 학식</h1>
{% for meal in today_meal %}
<div class = "container">
    <div class = "title">
        {% if loop.index == 1 %}
            아침
        {% elif loop.index == 2 %}
            점심
        {% elif loop.index == 3 %}
            저녁
        {% endif %}
    </div>
    <div class = "content">
        {{ meal }}
    </div>
</div>
{% endfor %}
</body>
</html>